# Normalize line endings to LF in the repo, regardless of each contributor's OS
# settings (Windows' git often defaults to converting to CRLF on checkout).
* text=auto eol=lf

*.png binary
*.jpg binary
*.ico binary
